<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			// Changed div header tag with single-line Handlebars
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel</h1>
							// Removed navigation html to create a loop over each JSON array element
							<ul id="sites">
			// This directive iterates over each trip in trips array
			{{#each trips}}
								<li>
									// Properties of JSON are rendered using 'this'
									<a href="/api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a>
									<h2><a href=“/travel">{{this.name}}</a></h2>
									{{this.description}}
								</li>
		
			{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		// Changed div footer tag with single-line Handlebars
		{{> footer}}
	</div>
</body>
</html>